@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&family=Work+Sans:wght@200;300;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  color: #2b2b2b;
}
/* General Styling */
.MuiFormLabel-colorPrimary,
legend.MuiFormLabel-colorPrimary {
  color: #2b2b2b;
}
input#outlined-basic {
  border: 1px solid #2b2b2b;
}
.bold {
  font-weight: 600;
}

/* Product listing*/

.single-product {
  width: 31.33%;
  margin-right: 20px;
  position: relative
      
}
.single-product:nth-child(3n){
  margin-right: 0;
}

ul.cat-list {
  list-style: none;
  display: flex;
  padding: 0;
  position: absolute;
  top: -256px;
  display: none;
}

ul.cat-list:hover {
  display: block;
}
li.category {
  padding: 10px;
  background-color: red;
  margin-right: 5px;
  border-radius: 20px;
  font-size: 14px;
}