@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&family=Work+Sans:wght@200;300;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  color: #2b2b2b;
}
/* General Styling */


.bold {
  font-weight: 600;
}

/* Product listing*/

.single-product {
  width: 31.33%;
  margin-right: 20px;
  position: relative
      
}
.single-product:nth-child(3n){
  margin-right: 0;
}

ul.cat-list {
  list-style: none;
  display: flex;
  padding: 0;

}
ul.cat-list > li {
  margin-right: 10px;
  text-transform: capitalize;
}

.box {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.box h4 {
  margin-right: 10px;
}

