/* Product listing*/

.single-product {
  width: 31.33%;
  margin-right: 20px;
      
}
.single-product:nth-child(3n){
  margin-right: 0;
}

ul.cat-list {
  list-style: none;
  display: flex;
  padding: 0;
}
li.category {
  padding: 10px;
  background-color: red;
  margin-right: 5px;
  border-radius: 20px;
  font-size: 14px;
}